/*Global*/

/* Color Palette 
        Background: light gray (#e6e6e6)
        Primary text: black (#000000) on white (#FFFFFF) background
        Primary color: Blue (#2b2fd5)
        Primary color text: white (#FFFFFF)
        Accent color: Green (#4CAF50)
        Accent color text: black (#000000)*/

        *{
            /* set background light-grey, text color black and font-family to Arial*/
            font-family: Arial, sans-serif;
            margin: 0;
            padding:0;
        }
        
        body{
            background-color: #e6e6e6;
            color: #000000;
        }
        
       

/*App bar*/

/*Channels list*/

/*Tab bar*/

/*Messages*/

 h1{
            /* set background color of app-bars to blue and text color white*/
            background-color: #2b2fd5;
            color: #FFFFFF;
        }
        
        /* change background color to white*/
        ul{
    
            background-color: #ffffff;
            list-style-type: none
        } 
        
        p{
            background-color: #ffffff;
        }
        
        button{
            /*change backgrond-color of the buttons to green and set it Uppercase */
            background-color: #4CAF50;
            text-transform: uppercase;
        }
        
        h3{
            /* change text size of the metadata to medium */
            font-size: medium;
        }
        
        h3 em{
            /* make the Time to Lie biger and without italic */
            font-size: larger;
            font-style: normal;
        }
        
        /*Additional exercise*/
        a{
            /* Set location links Uppercase */
            text-transform: uppercase;
            color:#000000
        }